
  <!--<section class="ae-container-fluid ae-container-fluid--inner rk-portfolio" *ngFor="let p of products |async">
    <div class="ae-masonry ae-masonry-md-2 ae-masonry-xl-4">
      <a routerLink="/productPage" class="rk-item ae-masonry__item"><img src="assets/img/project-1.jpg" alt="">
        <div class="item-meta">
          <h2>Essential Stationery</h2>
          <p>Branding</p>
        </div></a><a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/project-2.jpg" alt="">
        <div class="item-meta">
          <h2>Pickled Tousled</h2>
          <p>Art Direction</p>
        </div></a><a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/project-3.jpg" alt="">
        <div class="item-meta">
          <h2>Waistcoat vegan</h2>
          <p>Graphic Design</p>
        </div></a><a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/project-4.jpg" alt="">
        <div class="item-meta">
          <h2>Tumblr hammock</h2>
          <p>Packaging</p>
        </div></a><a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/project-5.jpg" alt="">
        <div class="item-meta">
          <h2>Biodiesel etsy</h2>
          <p>Branding</p>
        </div></a><a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/project-6.jpg" alt="">
        <div class="item-meta">
          <h2>Gentrify artisan</h2>
          <p>Graphic Design</p>
        </div></a><a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/project-7.jpg" alt="">
        <div class="item-meta">
          <h2>Plaid austin</h2>
          <p>Graphic Design</p>
        </div></a><a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/project-8.jpg" alt="">
        <div class="item-meta">
          <h2>Trust fund</h2>
          <p>Packaging</p>
        </div></a><a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/project-9.jpg" alt="">
        <div class="item-meta">
          <h2>Gentrify pork</h2>
          <p>Branding</p>
        </div></a><a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/project-10.jpg" alt="">
        <div class="item-meta">
          <h2>Waistcoat ugh</h2>
          <p>UI/UX</p>
        </div></a><a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/project-11.jpg" alt="">
        <div class="item-meta">
          <h2>Deep v kogi</h2>
          <p>Graphic Design</p>
        </div></a><a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/project-12.jpg" alt="">
        <div class="item-meta">
          <h2>Venmo trust</h2>
          <p>Packaging</p>
        </div></a><a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/project-13.jpg" alt="">
        <div class="item-meta">
          <h2>Venmo trust</h2>
          <p>Ui/UX</p>
        </div></a>
    </div>
  </section>-->
<div class="bar">
  <p-autoComplete [(ngModel)]="text" [suggestions]="results" (completeMethod)="search($event)"></p-autoComplete>
</div>
<br>
<br>
<br>



  <div class="add-button">
    <p-speedDial (click)="displayProductForm = true" ></p-speedDial>
  </div>

  <link rel="stylesheet" href="https://unpkg.com/primeflex@3.1.0/primeflex.css">

  <p-dataView [value]="(products|async)!" [paginator]="true" [rows]="8">
    <ng-template let-p pTemplate="listItem">
      <p-card class="card" [style]="{width: '360px'}" >
        <ng-template pTemplate="header">
            <img class="imageCard" alt="Card" [src]="p.imageUrl">
        </ng-template>
        <ng-template class="footer" pTemplate="footer">
         <h4> <strong>{{p.title}}</strong></h4>
          <a [href]="p.link" target="_blank">Ir al sitio web</a>
          <button pButton class="p-button-like" icon="pi pi-thumbs-up" (click)="addLike(p)" ></button>
          {{p.like}}



        </ng-template>

    </p-card>
    </ng-template>
</p-dataView>



<!--Form dialog-->
<p-dialog [(visible)]="displayProductForm" [style]="{width :'40vw'}">
  <ng-template pTemplate="header">
      </ng-template>
      <form [formGroup]="productForm" (ngSubmit)="formSubmit()">

      <label for="title">Title: </label>
      <input pInputText id="title" type="text" formControlName="title">
      <br>

      <label for="imageUrl">Picture: </label>
      <input pInputText id="imageUrl" type="text" formControlName="imageUrl">
      <br>

      <label for="link">Download: </label>
      <input pInputText id="link" type="text" formControlName="link">
      <br>

      <p-button type="submit"
      styleClass="p-button-success">Añadir</p-button>

    </form>
    <p-footer>
      <p-button (click)="displayProductForm = false"
        styleClass="p-button-danger">
        Cancel
      </p-button>

    </p-footer>
  </p-dialog>

