
  <div class="add-button">
    <p-speedDial (click)="displayProductForm = true" ></p-speedDial>
  </div>

  <link rel="stylesheet" href="https://unpkg.com/primeflex@3.1.0/primeflex.css">

  <p-dataView [value]="(products|async)!" [paginator]="true" [rows]="8">
    <ng-template let-p pTemplate="listItem">
      <p-card class="card" [style]="{width: '360px'}" >
        <ng-template pTemplate="header">
            <img class="imageCard" alt="Card" [src]="p.imageUrl">
        </ng-template>
        <ng-template class="footer" pTemplate="footer">
         <h4> <strong>{{p.title}}</strong></h4>
          <a [href]="p.link" target="_blank">Ir al sitio web</a>
          <button pButton class="p-button-like" icon="pi pi-thumbs-up" (click)="addLike(p)" ></button>
          {{p.like}}
          <button pButton class="p-button-trash" icon="pi pi-trash" (click)="deleteProduct(p.productId)"></button>


        </ng-template>

    </p-card>
    </ng-template>
</p-dataView>



<!--Form dialog-->
<p-dialog [(visible)]="displayProductForm" [style]="{width :'40vw'}">
  <ng-template pTemplate="header">
      </ng-template>
      <form [formGroup]="productForm" (ngSubmit)="formSubmit()">

      <label for="title">Title: </label>
      <input pInputText id="title" type="text" formControlName="title">
      <br>

      <label for="imageUrl">Picture: </label>
      <input pInputText id="imageUrl" type="text" formControlName="imageUrl">
      <br>

      <label for="link">Download: </label>
      <input pInputText id="link" type="text" formControlName="link">
      <br>

      <p-button type="submit"
      styleClass="p-button-success">Añadir</p-button>

    </form>
    <p-footer>
      <p-button (click)="displayProductForm = false"
        styleClass="p-button-danger">
        Cancel
      </p-button>

    </p-footer>
  </p-dialog>

